<app-employee-navbar></app-employee-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <table class="table table-striped text-centre">
                <thead>
                  <tr>
                    <th scope="col">Employee Code</th>
                    <th scope="col">Employee Name</th>
                    <th scope="col">Leave Type</th>
                    <th scope="col">Remarks</th>
                    <th scope="col">From Date</th>
                    <th scope="col">To Date</th>
                    <th scope="col">Leave Apply Date</th>
                    <th scope="col">Status</th>
                    
                    
                    
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let j of Leave">
                    
                    <td>{{j.employeecode}}</td>
                    <td>{{j.employeename}}</td>
                    <td>{{j.leavetype}}</td>
                    <td>{{j.remarks}}</td>
                    <td>{{j.fromdate}}</td>
                    <td>{{j.todate}}</td>
                    <td>{{j.leaveapplydate}}</td>
                    <td>{{j.status}}</td>
                    <td><button (click)="readValue(j.employeeid)" class="btn btn-success">Accept</button></td>
                    <td><button (click)="reject(j.employeeid)" class="btn btn-danger">Reject</button></td>
                  </tr>
                 
                </tbody>
              </table>
        </div>
    </div>
</div>
