.bgm{background-image: url(https://img.lovepik.com/background/20211022/large/lovepik-mobile-phone-network-security-guard-background-image_500846945.jpg);
    background-repeat: no-repeat;
     max-width: 2000px;
     padding-top: 100px;
    max-height: 5000px;
     background-size: cover;
     background-position:center;
     padding-bottom: 400px;
     background-position-x: center;
     background-position-y: center;
   }