.bgm{background-image: url(https://t3.ftcdn.net/jpg/02/99/28/66/360_F_299286676_d4XevgjXDaA1GszJpmpgxWSiQNfQ0oyU.jpg);
    background-repeat: no-repeat;
     max-width: 2000px;
     padding-top: 100px;
    max-height: 5000px;
     background-size: cover;
     background-position:center;
     padding-bottom: 450px;
     background-position-x: center;
     background-position-y: center;
     
   }
