.bgm{background-image: url(https://s3.us-east-1.amazonaws.com/co-assets/assets/images/_fbTw/employee-development.jpg);
    background-repeat: no-repeat;
     max-width: 2000px;
     padding-top: 100px;
    max-height: 5000px;
     background-size: cover;
     background-position:center;
     padding-bottom: 500px;
     background-position-x: center;
     background-position-y: center;
   }